<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <title>Title</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark" style="margin-bottom: 20px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pokemon</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav me-3">
          <a class="nav-link active me-3" aria-current="page" href="/">Home</a>
          <a class="nav-link active me-3" href="{{ url_for('pokemon_form') }}">Pokemon</a>
          {% if current_user.is_authenticated %}
          <p class="nav-link active me-3">Hello, {{ current_user.username }}</p>
          <a class="nav-link active me-3" href=" {{ url_for('auth.user') }}">Profile</a>
          
          <a class="nav-link me-3" href="{{ url_for('auth.logMeOut') }}">Log Out</a>
          
          {% else %}
          
          <a class="nav-link active me-3" href="{{ url_for('auth.login') }}">Login</a>
          <a class="nav-link active me-3" href="{{ url_for('auth.signuppage') }}">Sign Up</a>
  
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  
  
  <h1 style="text-align: center">Welcome to the PokeDex!</h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for class, message in messages %}
                <div class="alert alert-{{class}} alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  {% block content %}
  
  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
  {% endblock %}


</body>

</html>