{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">Edit Profile</h1>

<div class="container" style="max-width: 500px;">
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.email(class="form-control", placeholder="Email") }}
        </div>

        <div class="form-group">
            {{ form.username(class="form-control", placeholder="Username") }}
        </div>

        <div class="form-group">
            {{ form.password(class="form-control", placeholder="Password") }}
        </div>

        <div class="form-group">
            {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
        </div>

        <div class="form-group">
            {{ form.bio(class="form-control", placeholder="Bio") }}
        </div>

        <div class="form-group">
            {{ form.img_url(class="form-control-file", placeholder="image url") }}
        </div>

        <div class="form-group text-center">
            {{ form.submit(class="btn btn-primary") }}
        </div>

    </form>
</div>

{% endblock %}
