{% extends 'base.html' %}

{% block content %}

<h1>Edit Profile</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.email(class="form-control", placeholder="Email") }}
    </div>

    <div class="form-group">
        {{ form.username(class="form-control", placeholder="Username") }}
    </div>

    <div class="form-group">
        {{ form.password(class="form-control", placeholder="Password") }}
    </div>

    <div class="form-group">
        {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
    </div>

    <div class="form-group">
        {{ form.bio(class="form-control", placeholder="Bio") }}
    </div>

    <div class="form-group">
        {{ form.img_url(class="form-control-file") }}
    </div>

    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>

</form>

{% endblock %}
