{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 style="text-align: center; margin-bottom:25px;">Search for a Pokemon!</h1>
    <form method="POST" action="{{ url_for('pokemon_form') }}" class="row g-3"
        style="justify-content: center; margin-bottom: 25px;">
        {{ form.hidden_tag() }}
        <div class="col-auto mx-5">
            <label for="pokemon_name" class="col-form-label">Enter a Pokemon name:</label>
        </div>
        <div class="col-auto">
            {{ form.pokemon_name(class="form-control")}}
        </div>
        <div class="col-auto">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    {% if pokemon %}
    <div class="row">
        <div class="col-md-6 offset-md-3 mx-auto">
            <div class="card text-center">
                <img class="card-img-top" src="{{ pokemon.image }}" alt="{{ pokemon.name }} image">
                <div class="card-body">
                    <h5 class="card-title">{{ pokemon.name }}</h5>
                    <p class="card-text">HP: {{ pokemon.hp }}</p>
                    <p class="card-text">Attack: {{ pokemon.attack }}</p>
                    <p class="card-text">Defense: {{ pokemon.defense }}</p>
                    <p class="card-text">Ability: {{ pokemon.ability }}</p>
                    <p class="card-text">Type: {{ pokemon.types }}</p>

                    <div class="btn-group mt-3" role="group">
                        <a href="{{ url_for('pokemon_form', pokemon_id=pokemon.id) }}"><button type="button" class="btn btn-primary btn-rounded" style="margin: 25px; width: 100px;">Catch</button></a>
                        <a href="{{ url_for('my_pokemon') }}"><button type="button" class="btn btn-danger btn-rounded" style="margin: 25px; width: 100px;">Release</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Search for a Pokemon!</h5>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    {% endblock %}